* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a60102;
}

.container {
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.logo {
    width: 300px;
    margin: 20px 0;
}

#countdown {
    font-size: 1.5em;
    color: white;
}
